server:
  port: 8080

spring:
  application:
    name: Conciliamento_Gerenciamento

  datasource:

    url: jdbc:postgresql://${DB_HOST:localhost}:5432/${DB_NAME:conciliacao_db}
    username: ${DB_USER:postgres}
    password: ${DB_PASS:postgres}

    driver-class-name: org.postgresql.Driver

  jpa:

    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
  web:
    error:
      include-message: always
      include-binding-errors: always

logging:
  level:
    root: INFO

    org.hibernate.SQL: DEBUG
    org.flywaydb: INFO